body{
    background: #fffff2;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.img-404{
    width: 30%;
}
.container-404{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.container-404 h1{
    color:  #fffff2;
    font-size: 20px;
    padding: 20px;
}
.container-404 button{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: #ec5853;
    color:  #fffff2;
}
@media screen and (max-width:1200px){
    .img-404{
        width: 40%;
    }
}
@media screen and (max-width:630px){
    .container-404 h1{        
        font-size: 16px;        
    }
    .container-404 button{
        font-size: 16px;
        padding: 10px 25px;
    }
    .img-404{
        width: 60%;
    }
}