
.row-login{
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fffff2;
	height: 80vh;
}
.col-login{
	 background-color: #ec5853;
	 background-size: cover;
	 padding: 30px;
	 border-radius: 5px;
 }
 .border-password{
	border-bottom: 1.5px solid #2b2b2b;
	color: #2b2b2b;
 }
 @media (max-width: 560px){
   .col-login{
	padding: 10px;
   }
}