
.row-register{
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #Fffff2;
	height: 80vh;
	
}
.col-register{
	background-color:  #ec5853;
	padding: 30px;
	border-radius: 5px;
}
 
.form {
	background-color: #FFFBE9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.button {
	border-radius: 10px;
	border: 1px solid #F2eee3;
	background-color: #F2eee3;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	border-color: red;
}
@media (max-width: 560px){
	.col-register{
	 padding: 10px;
	}
 }