
.cuenta-screen {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cuenta-screen h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  

  .datos-usuario {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .datos-usuario h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .editar-datos-usuario {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .editar-datos-usuario h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .editar-datos-usuario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .editar-datos-usuario input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .cerrar-sesion button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .cerrar-sesion button:hover {
    background-color: #d32f2f;
  }

.editar-datos-usuario button {
    background-color: #4caf50; 
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
   
  }
  
  .editar-datos-usuario button:hover {
    background-color: #45a049; 
   
    padding: 10px;
  }
  
  