body{
	
	background-color: rgba(0, 0, 0, 0.853);
	background-size: cover;
    color: aliceblue;
    text-align: center;
 

}
 
.form {
	background-color: #FFFBE9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.button {
	border-radius: 20px;
	border: 1px solid #F2eee3;
	background-color: #F2eee3;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	border-color: red;
}